pkgbase = dcap
	pkgdesc = Client Tools for dCache
	pkgver = 2.47.8
	pkgrel = 4
	url = https://github.com/dCache/dcap
	arch = i686
	arch = x86_64
	license = LGPL
	depends = openssl
	depends = krb5
	source = dcap-2.47.8.tar.gz::https://github.com/dCache/dcap/archive/2.47.8.tar.gz
	sha256sums = a52702ac72cce35745ca0ac37bdb4aba4fbef2dfa571eda06bd8c7d9e80efe21

pkgname = dcap

